/* Add custom home icon */

.homeIcon-r0w4ny {
    display: none;
}

.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub {
    background-color: transparent;
}

/* Change the link to your Image link */
.tutorialContainer-1pL9QS .wrapper-3kah-n .childWrapper-1j_1ub:before {
    position: absolute;
    content: " ";
    width: 45px;
    height: 45px;
    background-image: url('https://i.imgur.com/72ygEjp.png');
    background-size: contain;
}
